*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', sans-serif;
  font-size: 1rem;
  background-color: #f2f2f2;
}

ul, 
li {
  list-style: none;
}

.friends-app-page {
  display: grid;
  min-height: 100vh;
  grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  grid-area: header;
  align-self: center;
}

.title {
  text-align: center;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.friends-app {
  display: grid;
  grid-template-columns: minmax(250px, 400px) minmax(800px, 1400px);
  gap: 50px;
}

.friends-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.friends-list__item {
  max-width: 400px;
  background-color: #fbfbfb;
  color: rgb(89, 89, 89);
  border-radius: 12px;
  box-shadow: 2px 2px 2px 3px rgb(0 0 0 / 2%);
  padding: 20px;
  text-align: center;
}
.friends-list__item,
.friends-list__item .user_photo,
.user_content > *,
.filter-friends__item, 
.search_wrapper {
  margin-bottom: 10px;
}

.user_photo img{
  border-radius: 50%;
}

.user__name {
  font-weight: 600;
  font-size: 1.2rem;
  color: rgb(40, 40, 40);
  text-align: center;
}

.filter-friends-wrapper {
  padding: 20px;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.filter-sort__age,
.filter-sort__name {
  text-align: center;
}


.filter-sort__age .btn:first-child,
.filter-sort__name .btn:first-child {
  margin-right: 10px;
}


.search_wrapper .search {
  margin-top: 5px;
}

.filter_title {
  text-align: center;
  color: rgb(58, 58, 58);
  margin-bottom: 5px;
}

.btn-name,
.btn-phone,
.btn-gender {
  width: 150px;
  align-self: flex-end;
}

.btn {
  background-color: rgb(38, 36, 36);
  color: #f2f2f2;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1.1rem;
}

.btn:hover {
  background-color: rgb(57, 56, 56);
}

.search {
  padding: 10px;
  font-size: 1.1rem;
  border: 1px solid #bebebe;
  border-radius: 6px;
  width: 100%;
}

.search:focus {
  outline: 1px solid #9595ff;
}

.radio_wrapper input[type="radio"]:focus-visible,
.btn:focus-visible {
  outline: 4px solid #9595ff;
}

.filter-select__gender {
  align-items: center;
}

.radio_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px auto;
  width: 100%;
}

.radio_wrapper input[type="radio"] {
  width: 21px;
  height: 21px;
  cursor: pointer;
}

.radio_item label {
  line-height: 21px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 5px;
}

.radio_item{
  display: flex;
  align-items: center;
}

.filter-reset {
  text-align: center;
}

.filter-search__age {
  display: flex;
  flex-wrap: wrap;
}

.filter-search__age .filter_title,
.filter-search__age .btn-age {
  flex: 0 0 100%;
  max-width: 100%;
}

.filter-search__age .search_wrapper {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
}

.filter-search__age .search_wrapper .search {
  width: 80%;
}