*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', sans-serif;
  font-size: 1rem;
  background-color: #f2f2f2;
}

.friends-app {
  display: grid;
  min-height: 100vh;
  grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
}

.title {
  text-align: center;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}