*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', sans-serif;
  font-size: 1rem;
  background-color: #f2f2f2;
}

ul {
  list-style: none;
}

.friends-app-page {
  display: grid;
  min-height: 100vh;
  grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  grid-area: header;
}

.title {
  text-align: center;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.friends-app {
  display: grid;
  grid-template-columns: minmax(250px, 400px) 1fr;
}

.friends-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.friends-list__item {
  max-width: 400px;
  background-color: #f2f2f2;
  color: rgb(89, 89, 89);
  border-radius: 12px;
  box-shadow: 2px 2px 2px 3px rgb(0 0 0 / 21%);
  padding: 20px;
  text-align: center;
}
.friends-list__item,
.friends-list__item .user_photo,
.user_content > * {
  margin-bottom: 10px;
}

.user_photo img{
  border-radius: 30%;
}

.user__name {
  font-weight: 600;
  font-size: 1.2rem;
  color: rgb(40, 40, 40);
  text-align: center;
}

.filter-friends-wrapper {
  padding: 20px;
}

.filter-sort__age,
.filter-sort__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.filter-friends__item,
.filter-sort__age,
.filter-search__name,
.search_wrapper {
  margin-bottom: 10px;
}

.wrapper-btn {
  display: flex;
  justify-content: center;
}

.filter-sort__age .btn:first-child,
.filter-sort__name .btn:first-child {
  margin-right: 10px;
}

.filter-search__name,
.filter-search__age, 
.filter-search__phone {
  display: flex;
  flex-direction: column;
}

.search_wrapper .search {
  margin-top: 5px;
}

.title-sort {
  margin-bottom: 5px;
}

.btn-name,
.btn-age,
.btn-phone {
  width: 150px;
  align-self: flex-end;
}

.btn {
  background-color: rgb(38, 36, 36);
  color: #f2f2f2;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1.1rem;
}

.btn:hover {
  background-color: rgb(57, 56, 56);
}

.search {
  padding: 10px;
  font-size: 1.1rem;
  border: 1px solid #bebebe;
  border-radius: 6px;
  width: 100%;
}

.search:focus {
  outline: 1px solid rgb(78, 78, 207);
}